<h1>Event List Page</h1>
{{#each events}}
<p><a href="/events/{{id}}">Name: {{this.event_name}}</a></p>
<p><a href="/events/{{id}}">Description: {{this.event_desc}}</a></p>
<p><a href="/events/{{id}}">Location: {{this.event_location}}</a></p>
<p><a href="/events/{{id}}">Dates: {{this.event_date}}</a></p>
{{/each}}

{{!-- button to create a new event --}}
<a href="/events/new">Create a new event</a>