<div class="banner" class="page-header">
    <h1>{{event.event_name}}</h1>
    <div class="banner" style="text-align:center;">
        <br>
        <p style="font-weight:bold">Description:</p>
        <p>{{event.event_desc}}</p>
        <p style="font-weight:bold">Dates:</p>
        <p>{{event.event_date}}</p>
        <p style="font-weight:bold">Location:</p>
        <p>{{event.event_location}}</p>
        <br>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center">
    <div class="card m-5" style="width: 18rem;">
        <div class="card-header">
            <h2>Attendee's</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <ul>
                    {{#each users}}
                    <li>
                        {{attendee_name}}
                    </li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>

    <div class="card m-5" style="width: 18rem;">
        <div class="card-header">
            <h2>Interest's</h2>
        </div>
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <ul>
                    {{#each interests}}
                    <li>
                        {{interest}}
                    </li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
</div>