<h2>{{user.attendee_name}}</h2>
{{user.id}}
<h5>event</h5>
<div id="user">
    <ul>
        {{#each events}}
        <li>
            {{this.event_name}}
        </li>
        {{/each}}
    </ul>
</div>
<h5>interest</h5>
<ul>
    {{#each interests}}
    <li>

        <form action="/user/{{../user.id}}/interest/{{this.id}}" method="POST">
            <button type="submit">{{this.interest}}</button>
        </form>

    </li>
    {{/each}}
</ul>