

<h2>{{user.attendee_name}}</h2>
<h5>event</h5>
<div id="user">
<ul>
  {{#each events}}
   <li>
  	   {{this.event_name}}{{this.event_location}}
  	</li>
  {{/each}}
</ul>
</div>
<h5>interest</h5>
 <ul>
  {{#each interests}}
   <li>
  	   {{this.interest}}{{this.interest_desc}}
  	</li>
  {{/each}}
</ul>  

    
