<div class="banner" class="page-header">
 <h2 style="color: rgb(58, 57, 57); background-color: rgba(145, 183, 192, 0.877); border-radius: 12px;">{{user.attendee_name}}</h2>
</div>


<div class="container">
    <div class="row">


        <div id="user">
            <div style="width: 100%; margin: 25px auto;">
                <h2 style="color: rgb(58, 57, 57); background-color: rgba(145, 183, 192, 0.877); border-radius: 12px;">Select Events to Attend: </h2>
                {{#each events}}
                <div id="listCards" class="card m-3"></div>
                <div class="card-body">
                    <div class="form-group">
                        <form action="/user/{{../user.id}}/event/{{this.id}}" method="POST">
                            <button class="btn btn-lg btn-dark btn-block" type="submit">{{this.event_name}}</button>
                    </div>
                    </form>
                </div>
                {{/each}}

            </div>
        </div>


        <div style="width: 50%; margin: 25px auto;">
            <h2 style="color: rgb(58, 57, 57); background-color: rgba(145, 183, 192, 0.877); border-radius: 12px;">Select interests you identify with: </h2>
            {{#each interests}}
            <div id="listCards" class="card m-3"></div>
            <div class="card-body">
                <div class="form-group">
                    <form action="/user/{{../user.id}}/interest/{{this.id}}" method="POST">
                        <button class="btn btn-lg btn-dark btn-block" type="submit">{{this.interest}}</button>
                </div>
                </form>
            </div>
            {{/each}}
            </ul>
        </div>
    </div>
</div>


</div>
</div>







